<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<ul class="nav nav-pills">
						<li><a href="#">BackOffice Web Developper</a></li>
						<li><a href="#">Front-end Web Developper</a></li>
						<li><a href="#">Web Designer</a></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="jumbotron">
						<h1>Hello !</h1>
						<p>Choose a training in the menu…</p>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>