{% extends 'base.formation.html.twig'%}

{% block formation_nav %}
    <div class="row">
        <div class="col-xs-12">
            <ul class="nav nav-pills">
            {% for key, training in trainings %}
                <li><a href="{{ url('training.show', {id: training.id}) }}">{{ training.name }}</a></li>
            {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="jumbotron">
                <h1>Hello !</h1>
                <p>Choose a training in the menu…</p>
            </div>
        </div>
    </div>
{% endblock %}