<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
</head>
<body>
<div class="container">

    {{  render_menu() | raw  }}

    {% for notice in app.flashes('notice') %}
        <p class="">{{ notice }}</p>
    {% endfor %}

    {#{% block formation_nav %}Formation{% endblock %}#}

    {% block content %}{% endblock %}

    {% block menu %}{% endblock %}
</div>
</body>
</html>